/* VARIABLES */
/* COLORS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Proxima Light';
  src: url('fonts/proximanova-light.eot');
  src: url('fonts/proximanova-light.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-light.woff') format('woff'), url('fonts/proximanova-light.ttf') format('truetype'), url('fonts/proximanova-light.svg') format('svg'); }

@font-face {
  font-family: 'Proxima Regular';
  src: url('fonts/proximanova-regular.eot');
  src: url('fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-regular.woff') format('woff'), url('fonts/proximanova-regular.ttf') format('truetype'), url('fonts/proximanova-regular.svg') format('svg'); }

@font-face {
  font-family: 'Proxima Semibold';
  src: url('fonts/proximanova-semibold.eot');
  src: url('fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-semibold.woff') format('woff'), url('fonts/proximanova-semibold.ttf') format('truetype'), url('fonts/proximanova-semibold.svg') format('svg'); }

@font-face {
  font-family: 'Proxima Medium';
  src: url('fonts/proximanova-medium.eot');
  src: url('fonts/proximanova-medium.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-medium.woff') format('woff'), url('fonts/proximanova-medium.ttf') format('truetype'), url('fonts/proximanova-medium.svg') format('svg'); }

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #515151;
  font-family: 'Proxima Light', 'Arial', 'sans-serif';
  letter-spacing: 0.5px; }
  body a {
    color: #515151; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0.1; }

#main-background {
  position: fixed;
  z-index: 1; }

.button {
  display: inline-block;
  font-size: 16px;
  font-family: 'Proxima Light', 'Arial', 'sans-serif';
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.4);
  padding: 11px 18px 11px;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  cursor: pointer; }
  .button.pink {
    background: #ed4f58; }
    .button.pink:hover {
      background: #FFFFFF;
      color: #ed4f58; }
  .button:hover {
    /*background: #FF8508;*/
    color: #FFFFFF; }

b {
  display: block;
  height: 1px;
  width: 20px;
  background: #FFFFFF;
  margin: 20px auto; }
  
  
.dotpink {
  color: #ec4f58;
}

.scroll-icon {
  display: block;
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -27px;
  background: url(../img/sprite.png) no-repeat -50px -100px;
  z-index: 2; }

.popin {
  width: 840px;
  height: 520px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -320px 0 0 -470px;
  background: #000000;
  z-index: 10;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -moz-transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
  .popin .close-button {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer; }
    .popin .close-button i {
      display: block;
      height: 60px;
      width: 1px;
      background: #ed4f58;
      position: absolute;
      top: -5px;
      left: 27px;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms;
      -moz-transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms;
      transition: all 600ms cubic-bezier(1, 0, 0, 1) 0ms; }
      .popin .close-button i.left {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .popin .close-button i.right {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    .popin .close-button:hover i {
      -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      -moz-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
      .popin .close-button:hover i.left {
        -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        transform: rotate(35deg); }
      .popin .close-button:hover i.right {
        -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        transform: rotate(-35deg); }
  .popin .title {
    font-size: 18px;
    font-family: 'Proxima Regular', 'Arial', 'sans-serif';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin: 30px 0 100px; }

.scroll-viewport {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3; }

.scroll-overview {
  width: 100%; }

.scrollbar-container {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 10px;
  z-index: 10; }
  .scrollbar-container .scrollbar-track {
    height: 100%;
    width: 10px;
    cursor: pointer; }
  .scrollbar-container .scrollbar-thumb {
    position: absolute;
    top: 0;
    height: 20%;
    width: 6px;
    background: #696969;
    left: 2px;
    opacity: 0.5;
    -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
    .scrollbar-container .scrollbar-thumb:hover {
      background: #ed4f58;
      opacity: 1; }

#main-nav {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 3;
  text-align: center;
  width: 700px;
  margin-left: -205px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #F1F1F1; }
  #main-nav li {
    display: inline-block; }
  #main-nav a, #main-nav span {
    display: block;
    color: #F1F1F1;
    padding: 10px;
    margin: 0 20px;
    cursor: pointer; }
    #main-nav a:hover, #main-nav span:hover {
      color: #ffeb3b;
      -webkit-transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      -moz-transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }

#social-nav {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3; }
  #social-nav a {
    display: block;
    height: 40px;
    width: 40px;
    position: relative; }
    #social-nav a i {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      -moz-transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
    #social-nav a .hover {
      opacity: 0; }
    #social-nav a.twitter .normal {
      background: url(../img/sprite.png) no-repeat -5px -5px; }
    #social-nav a.twitter .hover {
      background: url(../img/sprite.png) no-repeat -5px -55px; }
    #social-nav a.facebook .normal {
      background: url(../img/sprite.png) no-repeat -55px -5px; }
    #social-nav a.facebook .hover {
      background: url(../img/sprite.png) no-repeat -55px -55px; }
    #social-nav a.instagram .normal {
      background: url(../img/sprite.png) no-repeat -105px -5px; }
    #social-nav a.instagram .hover {
      background: url(../img/sprite.png) no-repeat -105px -55px; }
    #social-nav a:hover .normal {
      opacity: 0; }
    #social-nav a:hover .hover {
      opacity: 1; }

#intro {
  color: #FFFFFF;
  text-align: center; }
  #intro .front {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 600px;
    margin: -200px 0 0 -300px; }
  #intro p {
    position: static;
    margin-bottom: 25px; }
  #intro b {
    margin: 60px auto 20px; }
  #intro .button {
    letter-spacing: 5px; }
  #intro .video-button {
    position: relative;
    cursor: pointer;
    display: block;
    height: 80px;
    letter-spacing: 5px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
    #intro .video-button i {
      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -25px;
      display: block;
      height: 50px;
      width: 50px;
      -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      /*&.hover {
        @include sprite(-150px, -50px);
        opacity:0;
      }*/ }
      #intro .video-button i.normal {
        background: url(../img/sprite.png) no-repeat -150px 0; }
    #intro .video-button:hover {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0); }
      #intro .video-button:hover i.normal {
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0); }

#main-logo {
  display: block;
  margin-bottom: 15px; }

#screens {
  background: #1B1B1B; }

.part {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .part .mask {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%; }
  .part .front {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -100px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px; }
    .part .front p, .part .front .animation {
      position: absolute;
      top: 50%;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0); }
    .part .front .comment {
      display: block;
      color: #57535c; }
  .part.text-on-left .front p {
    right: 50%;
    margin-right: 215px; }
  .part.text-on-left .front .animation {
    left: 50%;
    margin-left: 355px; }
  .part.text-on-right .front p {
    left: 50%;
    margin-left: 215px; }
  .part.text-on-right .front .animation {
    right: 50%;
    margin-right: 355px; }
  .part .front .top-icons {
    height: 45px;
    width: 405px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -202px; }
    .part .front .top-icons li {
      height: 45px;
      width: 45px;
      margin: 0 45px;
      float: left;
      opacity: 0.3; }
      .part .front .top-icons li.active {
        opacity: 1; }
    .part .front .top-icons .bookmark {
      background: url(../img/sprite.png) no-repeat -50px -156px; }
    .part .front .top-icons .copy {
      background: url(../img/sprite.png) no-repeat -95px -156px; }
    .part .front .top-icons .delete {
      background: url(../img/sprite.png) no-repeat -140px -156px; }
  .part .front .bottom {
    width: 700px;
    text-align: center;
    margin: 190px 0 0 -350px;
    position: absolute;
    bottom: 0;
    left: 50%; }

.iphone-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 263px;
  height: 551px;
  display: block;
  margin: -275px 0 0 -131px;
  z-index: 2;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .iphone-container .iphone-screen {
    position: absolute;
    top: 79px;
    left: 21px; }
  .iphone-container.horizontal {
    margin: -131px 0 0 -275px;
    height: 263px;
    width: 551px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    .iphone-container.horizontal .iphone-screen {
      top: 21px;
      left: 79px; }

#the-end .front {
  width: 330px;
  height: 132px;
  margin: -101px 0 0 -165px;
  left: 50%;
  z-index: 4; }
  #the-end .front .popin-button:hover {
    background: #a7c839; }
#the-end .button {
  margin: 0 auto;
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 3px; }
#the-end footer {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 70px;
  color: #ed4f58;
  background: #FFFFFF;
  cursor: pointer;
  z-index: 4;
  font-size: 12px;
  letter-spacing: 3px;
  font-family: 'Proxima Regular', 'Arial', 'sans-serif'; }
  #the-end footer a {
    color: #ed4f58; }
  #the-end footer li {
    display: inline-block;
    width: 33%;
    height: 70px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase; }

#enjoy-again {
  background: #1b1b1b; }
  #enjoy-again img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -62px; }
  #enjoy-again p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    margin: 200px 0 0 -250px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Proxima Light', 'Arial', 'sans-serif'; }

#about-popin {
  display: none; }
  #about-popin img {
    float: left;
    display: block;
    width: 295px;
    margin-top: -45px; }
  #about-popin .text {
    float: left;
    width: 800px;
    font-size: 15px;
    margin-left: 50px;
    line-height: 22px; }
  #about-popin ul {
    position: absolute;
    bottom: 85px;
    left: 130px;
    width: 680px; }
    #about-popin ul li {
      float: left;
      width: 33%;
      font-size: 15px;
      letter-spacing: 4px;
      text-transform: uppercase; }
      #about-popin ul li a {
        color: #67c1bf; }
      #about-popin ul li.left {
        text-align: left; }
      #about-popin ul li.middle {
        text-align: center; }
      #about-popin ul li.right {
        text-align: right; }

#android-popin {
  background: #FFFFFF;
  color: #082136;
  text-align: center;
  display: none; }
  #android-popin .android-icon {
    display: block;
    width: 36px;
    height: 42px;
    background: url(../img/apple.png) no-repeat 0 -150px;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -18px; }
  #android-popin p {
    font-size: 18px;
    font-family: 'Proxima Light', 'Arial', 'sans-serif'; }
  #android-popin .info {
    font-size: 13px;
    color: #99adbe;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center; }
  #android-popin form {
    width: 360px;
    margin: 50px auto; }
  #android-popin input {
    display: block;
    height: 60px;
    width: 340px;
    padding: 0 10px;
    margin: 10px 0;
    border: none;
    font-family: 'Proxima Light', 'Arial', 'sans-serif';
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer; }
  #android-popin input[type=text], #android-popin input[type=email] {
    line-height: 20px;
    background: #ebf4fb;
    color: #ed4f58; }
  #android-popin input[type=submit] {
    width: 360px;
    background: #a7c839;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 6px;
    font-size: 18px;
    -webkit-transition: background 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: background 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: background 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
    #android-popin input[type=submit]:hover {
      background: #819f1d; }
  #android-popin ::-webkit-input-placeholder {
    color: #5988b0; }
  #android-popin :-moz-placeholder {
    color: #5988b0;
    opacity: 1; }
  #android-popin ::-moz-placeholder {
    color: #5988b0;
    opacity: 1; }
  #android-popin :-ms-input-placeholder {
    color: #5988b0; }

#thanks-popin {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Proxima Light', 'Arial', 'sans-serif';
  display: none; }
  #thanks-popin .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    width: 100%;
    left: 0; }
  #thanks-popin a {
    color: #67c1bf; }
  #thanks-popin .batbat {
    font-size: 14px;
    color: #525252;
    position: absolute;
    width: 100%;
    bottom: 85px;
    left: 0; }

#player-popin {
  display: none; }
  #player-popin iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -155px 0 0 -350px; }

.video-section{
  position:absolute; width: 100%; height: 100%; top:0px; left:0px;
}

.subscribe{
  /*float: left;*/
    border-radius: 25px;
    text-align: center;
    display: block;
    height: 45px;
    width: 380px;
    padding: 0 10px;
    margin: 1px 0 10px 0;
    border: none;
    font-family: 'Proxima Light', 'Arial', 'sans-serif';
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

#intro b {
    margin: 25px auto 20px !important;
}

.play_store_image:hover{
  opacity: 1 !important;
}

.button.button-border {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px;
}

.button.button-circle {
    border-radius: 20px;
}

.button.button-border.button-light {
    border-color: #F9F9F9;
    color: #F9F9F9;
}

.supports{
  font-size: 14px;
  color: white;
  margin-top: 6px;
    margin-right: 10px;
}

.no-desktop{
  display: none !important;
}

.desktop-playstore{
  border: 2px solid white;
  border-radius: 5px !important;
}

@media only screen and (max-width: 375px) {

  .desktop-playstore{
  border: 0px solid white !important;  
}

  #android-popin p {
    width: 98%;
  }

  .no-desktop{
  display: block !important;
}

  #main-nav {
  width: 100% !important;
  margin-left: 0px !important; 
  left: 0px !important;
}
  
  #main-nav a, #main-nav span{
    margin: 0px !important;
  }

  .scroll-icon{
    display: none !important;
  }

  #social-nav{
    top: 60px !important;
  }

  #intro .front{
    width: 97% !important;
    left: 0 !important;
    margin: -205px 0 !important;
  }

  .store_logo img{
    width: 40% !important;
    opacity: 1 !important;
    height: 50px;
  }

  .store_logo{
    margin-bottom: 50px !important;
  }

  .kit{
    margin-top: 55px !important;
    margin-left: 10px;
    font-size: 12px;
  }

  .iplay-store{
      content:url("../img/app-store-logo-mobile.png");
  }

  .no-mobile{
    display: none !important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 436px) {

  #android-popin p {
    width: 98%;
  }
  .popin {
    width: 100% !important;
    top: 10%;
    left: 0;
    margin: 0px 0 0 0px;
    padding: 1px;
  }

  .#android-popin input{
    width: 87% !important;
  }

   .no-desktop{
  display: block !important;
}

  #main-nav {
  width: 100% !important;
  margin-left: 0px !important; 
  left: 0px !important;
}

  #main-nav a, #main-nav span{
    margin: 0px !important;
  }

  .scroll-icon{
    display: none !important;
  }

  #social-nav{
    top: 60px !important;
  }

  #intro .front{
    width: 97% !important;
    left: 0 !important;
    margin: -205px 0 !important;
  }

  .store_logo img{
    width: 50% !important;
    opacity: 1 !important;
  }

  .store_logo{
    margin-bottom: 40px !important;
    height: 50px;
  }

  .kit{
    margin-top: 40px !important;
  }

  /*.iplay-store{
    border-radius: 7px;
    border: 1.5px solid white;
  }*/

  .no-mobile{
    display: none !important;
  }

}

/*#player-popin {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:$black;
  z-index:1001;
  display:none;
  opacity:0;
  margin:0;
  padding:0;
  @include transition(opacity 1000ms $easeOutExpo 0ms);

  .video-player, .video-container, video {
    height:100%;
    width:100%;
  }

  .controls {
    height:33px;
    width:614px;
    position:absolute;
    bottom:30px;
    left:50%;
    margin-left:-307px;
    background:rgba(255, 255, 255, 0.15);
    @include border-radius(5px);
    z-index:4;
  }

  .shield {
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
    height:100%;
    width:100%;
    z-index:3;
  }

  .play-button, .pause-button {
    display:block;
    height:33px;
    width:33px;
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;

    i {
      display:block;
      height:21px;
      width:21px;
      margin:6px;
    }
  }

  .play-button i {
    @include sprite(0, -213px);
  }

  .pause-button i {
    @include sprite(-21px, -213px);
  }

  .paused {
    .pause-button {
      display:none;
    }
    .play-button {
      display:block;
    }
  }

  .playing {
    .play-button {
      display:none;
    }
    .pause-button {
      display:block;
    }
  }

  .timeline-container {
    height:33px;
    width:471px;
    position:absolute;
    top:0;
    left:41px;
    cursor:pointer;

    span {
      display:block;
      height:1px;
      width:100%;
      position:absolute;
      top:16px;
      left:0;
    }

    .timeline-background {
      background:#515151;
    }

    .progress {
      width:0;
      background:$white;
    }
  }

  .time-container {
    font-family:$fontLight;
    font-size:11px;
    line-height:33px;
    text-align:right;
    color:$white;
    margin-right:20px;
  }

  .close-button {
    display:block;
    height:42px;
    width:42px;
    @include sprite(0, -171px);
    position:absolute;
    top:50px;
    right:50px;
    cursor:pointer;
    z-index:10;
    margin:0;
    left:auto;
  }
}*/